.read-story-page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  position: relative; /* 상대 위치 설정 */
}

.story-page {
  position: relative;
}

.story-image {
  width: 45%; /* 이미지 크기를 줄임 */
  height: auto;
  margin-bottom: 16px;
}

.story-content {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.2rem; /* 글씨체 크기 조정 */
}

.page-number {
  margin-top: 10px; /* 내용과 재생 버튼 사이의 간격 설정 */
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 20px;
}

.navigation-controls {
  position: absolute; /* 절대 위치 설정 */
  top: 50%; /* 세로 가운데 정렬 */
  width: 100%;
  display: flex;
  justify-content: space-between; /* 좌우 끝에 배치 */
  transform: translateY(-50%); /* 가운데 정렬을 위한 변환 */
}

.navigation-controls .MuiIconButton-root {
  font-size: 2rem; /* 화살표 버튼 크기 증가 */
}

.play-button {
  margin-top: 20px;
}

.play-button .MuiIconButton-root {
  font-size: 3rem; /* 재생 버튼 크기 증가 */
}
