/* src/components/Header.css */
.header {
  display: flex;
  justify-content: space-between;
}

.title {
  flex-grow: 1;
  text-align: left;
  color: lightgreen; /* 연두색으로 변경 */
  font-weight: bold; /* 글씨 두께를 두껍게 변경 */
}

.nav-link {
  margin-right: 10px;
  color: inherit;
  text-decoration: none;
}

.nav-link:hover {
  background-color: lightgreen; /* 연두색으로 변경 */
  box-shadow: 0 4px 8px rgb(121, 247, 102); /* 그림자 추가 */
}

.active-nav-link {
  background-color: rgba(144, 238, 144, 0.5); /* 반투명 연두색 */
  border-radius: 5px;
}
