.header {
  display: flex;
  justify-content: space-between;
}

.title {
  flex-grow: 1;
  text-align: left;
}

.nav-link:hover {
  background-color: lightgreen; /* 연두색으로 변경 */
}

.nav-link {
  margin-right: 10px;
}
